.plxtoolbar {
	clear:both;
	float:left;
	margin:0 !important;
	padding:0 !important
}

.plxtoolbar_fullscreen {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 1;
}

.p_fullscreen {
	position:absolute;
	top:30px;
	left:0;
	z-index: 1;
}

/* Definition des icones */

.plxtoolbar span {
	display: inline-block;
	width: 20px;
	text-align:center;
	padding-bottom: 3px;
	cursor: pointer;
}

.plxtoolbar span:hover {
	border-bottom: 2px solid #999 ;
}

@font-face {
	font-family: 'icomoon';
	src:    url('fonts/icomoon.eot?lt99e');
	src:    url('fonts/icomoon.eot?lt99e#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?lt99e') format('truetype'),
		url('fonts/icomoon.woff?lt99e') format('woff'),
		url('fonts/icomoon.svg?lt99e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tb-icon-"], [class*=" tb-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tb-icon-youtube:before {
	content: "\f167";
}
.tb-icon-long-arrow-right:before {
	content: "\f178";
}
.tb-icon-soundcloud:before {
	content: "\f1be";
}
.tb-icon-mouse-pointer:before {
	content: "\f245";
}
.tb-icon-image:before {
	content: "\e900";
}
.tb-icon-images:before {
	content: "\e901";
}
.tb-icon-camera:before {
	content: "\e902";
}
.tb-icon-headphones:before {
	content: "\e903";
}
.tb-icon-film:before {
	content: "\e904";
}
.tb-icon-quotes-right:before {
	content: "\e905";
}
.tb-icon-list-numbered:before {
	content: "\e91b";
}
.tb-icon-list2:before {
	content: "\e91c";
}
.tb-icon-link:before {
	content: "\e906";
}
.tb-icon-happy:before {
	content: "\e91d";
}
.tb-icon-font-size:before {
	content: "\e907";
}
.tb-icon-bold:before {
	content: "\e908";
}
.tb-icon-underline:before {
	content: "\e909";
}
.tb-icon-italic:before {
	content: "\e90a";
}
.tb-icon-strikethrough:before {
	content: "\e90b";
}
.tb-icon-superscript:before {
	content: "\e90c";
}
.tb-icon-subscript:before {
	content: "\e90d";
}
.tb-icon-pagebreak:before {
	content: "\e90e";
}
.tb-icon-clear-formatting:before {
	content: "\e90f";
}
.tb-icon-pilcrow:before {
	content: "\e910";
}
.tb-icon-paragraph-left:before {
	content: "\e911";
}
.tb-icon-paragraph-center:before {
	content: "\e912";
}
.tb-icon-paragraph-right:before {
	content: "\e913";
}
.tb-icon-paragraph-justify:before {
	content: "\e914";
}
.tb-icon-indent-increase:before {
	content: "\e915";
}
.tb-icon-indent-decrease:before {
	content: "\e916";
}
.tb-icon-new-tab:before {
	content: "\e917";
}
.tb-icon-embed2:before {
	content: "\e918";
}
.tb-icon-flickr2:before {
	content: "\e919";
}
.tb-icon-flickr3:before {
	content: "\e91a";
}

